<h1>New Author</h1>

<form action="/authors" method="post">
  <div class="field">
    <label for="author_name">Name:</label>
    <input type="text" id="author_name" name="author[name]">
  </div>

  <div class="field">
    <label for="author_popularity_score">Popularity Score:</label>
    <input type="number" id="author_popularity_score" name="author[popularity_score]">
  </div>

  <div class="actions">
    <input type="submit" value="Create Author">
  </div>
</form>

<br>

<div>
  <%= link_to "Back", authors_path %>
</div>
